##### Global ignores #####
.DS_Store
.svn
.idea
*.orig
*.log
.vscode/*
.env

##### Build tool files #####
config.codekit
.sass-cache
.sass-cache/*
node_modules
node_modules/*
bower_components
bower_components/*

##### Ignore everything except for our theme #####
src/wp-admin
src/wp-includes
src/wp-*.php
src/wp-content/index.php
src/wp-content/plugins
src/wp-content/uploads
src/wp-content/themes/index.php
src/index.php
src/xmlrpc.php