##### Global ignores #####
.DS_Store
.svn
.idea
*.orig
*.log
.vscode/*
.env

##### Build tool files #####
config.codekit
.sass-cache
.sass-cache/*
node_modules
node_modules/*
bower_components
bower_components/*

##### Ignore everything except for our theme #####
src
!src/wp-content/themes/bespoke