:root {
  --color-black: #000;
  --color-gray: #888;
  --color-white: #fff;
  --color-body: #fff;
  --color-text: var(--color-black);
  --color-button-text: var(--color-white);
  --color-button-text-hover: var(--color-white);
  --color-button-bg: var(--color-black);
  --color-button-bg-hover: var(--color-gray);
  --color-borders: var(--color-gray);
  --vw-max-width: 89.74vw;
  --content-max-width: min(var(--vw-max-width), 690px);
  --wide-max-width: min(var(--vw-max-width), 1410px);
  --field-bg: #fff;
  --field-padding: 1.1875em;
  --field-spacing: 1em;
  --font-family-base: sans-serif;
  --font-family-headings: sans-serif;
  --font-size-base: clamp(1rem, 1.125vw, 1.125rem);
  --line-height-base: 1.6;
  --gap: clamp(1.25rem, 1.875vw, 1.875rem);
  --transitions: 0.3s;
  --font-size-h1: clamp(1.5625rem, 3.4375vw, 3.4375rem);
  --font-size-h2: clamp(1.4375rem, 2.5vw, 2.5rem);
  --font-size-h3: clamp(1.375rem, 2vw, 2rem);
  --font-size-h4: clamp(1.25rem, 1.75vw, 1.75rem);
  --font-size-h5: clamp(1.125rem, 1.375vw, 1.375rem);
  --font-size-h6: clamp(1rem, 1.125vw, 1.125rem);
  --spacing-1: clamp(0.5rem, 0.625vw, 0.625rem);
  --spacing-2: clamp(0.9375rem, 1.25vw, 1.25rem);
  --spacing-3: clamp(1.25rem, 1.875vw, 1.875rem);
  --spacing-4: clamp(2.5rem, 3.125vw, 3.125rem);
  --spacing-5: clamp(3.125rem, 4.6875vw, 4.6875rem);
  --spacing-6: clamp(3.125rem, 6.25vw, 6.25rem);
}

body {
  --wp--style--global--content-size: min(var(--vw-max-width), 690px);
}

:root {
  --admin-inline-padding: 20px;
}

html :where(.editor-styles-wrapper) {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.wp-block-post-title {
  line-height: 1.1;
}

.editor-styles-wrapper .is-root-container {
  padding-inline: 15px;
  /********************************
    Stuff we need from the base CSS
    ********************************/
  /**
     Honeypot
     */
  /*
    * Hide screen reader text.
    *
    * Used in the basic.css front-end stylesheet.
    */
  /*
    * Date field.
    *
    * Used in the basic.css front-end stylesheet and admin-theme.css.
    */
  /**
     File Uploads
     */
}
.editor-styles-wrapper .is-root-container .article-grid {
  display: grid;
  gap: calc(var(--gap) * 2) var(--gap);
}
@media (min-width: 768px) {
  .editor-styles-wrapper .is-root-container .article-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .editor-styles-wrapper .is-root-container .article-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.editor-styles-wrapper .is-root-container .btn,
.editor-styles-wrapper .is-root-container .wp-element-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border-radius: 0;
  border: 0;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  color: var(--color-button-text);
  display: inline-block;
  font-size: var(--font-size-buttons);
  font-weight: 500;
  line-height: 1;
  padding: 1em 1.39em;
  transition: all var(--transitions);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
}
@media (hover: hover) {
  .editor-styles-wrapper .is-root-container .btn:hover,
  .editor-styles-wrapper .is-root-container .wp-element-button:hover {
    text-decoration: none;
    color: var(--color-hover-button-text);
    background-color: var(--color-hover-button-bg);
  }
}
.editor-styles-wrapper .is-root-container .btn:not(:disabled),
.editor-styles-wrapper .is-root-container .wp-element-button:not(:disabled) {
  cursor: pointer;
}
.editor-styles-wrapper .is-root-container .btn:disabled,
.editor-styles-wrapper .is-root-container .wp-element-button:disabled {
  opacity: 0.5;
}
.editor-styles-wrapper .is-root-container .wp-block-button.is-style-secondary .wp-element-button,
.editor-styles-wrapper .is-root-container .is-style-secondary {
  border: none;
  border-top: solid 3px var(--color-button);
  padding: 6px 0 0;
}
@media (hover: hover) {
  .editor-styles-wrapper .is-root-container .wp-block-button.is-style-secondary .wp-element-button:hover,
  .editor-styles-wrapper .is-root-container .is-style-secondary:hover {
    color: var(--color-button-hover, var(--color-black));
    border-top-color: var(--color-button-hover, var(--color-black));
    background: none;
  }
}
.editor-styles-wrapper .is-root-container .wp-block-buttons {
  gap: clamp(15px, 1vw, 20px);
}
@media (max-width: 575px) {
  .editor-styles-wrapper .is-root-container .wp-block-buttons .wp-element-button {
    width: 100%;
  }
}
.editor-styles-wrapper .is-root-container .alignwide,
.editor-styles-wrapper .is-root-container .container-large {
  margin-inline: auto;
  max-width: var(--wide-max-width);
}
.editor-styles-wrapper .is-root-container fieldset,
.editor-styles-wrapper .is-root-container input,
.editor-styles-wrapper .is-root-container select,
.editor-styles-wrapper .is-root-container textarea {
  background: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.editor-styles-wrapper .is-root-container input[type=text], .editor-styles-wrapper .is-root-container input[type=number], .editor-styles-wrapper .is-root-container input[type=email], .editor-styles-wrapper .is-root-container input[type=search], .editor-styles-wrapper .is-root-container input[type=url], .editor-styles-wrapper .is-root-container input[type=tel] {
  padding: var(--field-padding);
  background: var(--field-color, var(--color-white));
  color: var(--field-text-color, var(--color-text));
  min-height: 60px;
  width: 100%;
  font-size: 1rem;
  font-family: var(--font-family-base);
}
.editor-styles-wrapper .is-root-container input[type=text]:focus, .editor-styles-wrapper .is-root-container input[type=number]:focus, .editor-styles-wrapper .is-root-container input[type=email]:focus, .editor-styles-wrapper .is-root-container input[type=search]:focus, .editor-styles-wrapper .is-root-container input[type=url]:focus, .editor-styles-wrapper .is-root-container input[type=tel]:focus {
  box-shadow: 0 0 6px rgba(0, 80, 158, 0.5);
}
.editor-styles-wrapper .is-root-container input[type=radio], .editor-styles-wrapper .is-root-container input[type=checkbox] {
  accent-color: var(--color-accent);
}
.editor-styles-wrapper .is-root-container input[type=range] {
  width: 100%;
  accent-color: var(--color-accent);
}
.editor-styles-wrapper .is-root-container select {
  padding: var(--field-padding);
  background: var(--field-color, var(--color-white));
  color: var(--field-text-color, var(--color-text));
  min-height: 60px;
  width: 100%;
  font-size: 1rem;
  font-family: var(--font-family-base);
  padding-right: calc(var(--field-padding) * 2);
}
.editor-styles-wrapper .is-root-container select:focus {
  box-shadow: 0 0 6px rgba(0, 80, 158, 0.5);
}
.editor-styles-wrapper .is-root-container select:not([multiple]) {
  background: var(--field-color) no-repeat right var(--field-padding) center;
  background-image: url("../assets/images/caret.svg");
}
.editor-styles-wrapper .is-root-container select[multiple] {
  padding: var(--field-padding);
}
.editor-styles-wrapper .is-root-container select[multiple] option {
  padding: 5px;
  margin-bottom: 5px;
}
.editor-styles-wrapper .is-root-container textarea {
  padding: var(--field-padding);
  background: var(--field-color, var(--color-white));
  color: var(--field-text-color, var(--color-text));
  min-height: 60px;
  width: 100%;
  font-size: 1rem;
  font-family: var(--font-family-base);
  height: auto;
  display: block;
  resize: vertical;
}
.editor-styles-wrapper .is-root-container textarea:focus {
  box-shadow: 0 0 6px rgba(0, 80, 158, 0.5);
}
.editor-styles-wrapper .is-root-container textarea.small {
  height: 4em;
}
.editor-styles-wrapper .is-root-container .has-prefix {
  display: flex;
  justify-content: center;
}
.editor-styles-wrapper .is-root-container .has-prefix span {
  background: var(--field-color);
  color: var(--field-text-color, var(--color-text));
  padding: var(--field-padding);
  padding-right: 0;
  transform: translate3d(0, 0, 0);
}
.editor-styles-wrapper .is-root-container .gform_wrapper .gfield_label {
  font-size: var(--font-size-h5);
  font-family: var(--font-family-headings);
  color: var(--color-black);
}
.editor-styles-wrapper .is-root-container .gform_fields {
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(6, 1fr);
}
.editor-styles-wrapper .is-root-container .gform_fields fieldset,
.editor-styles-wrapper .is-root-container .gform_fields .gfield--type-textarea,
.editor-styles-wrapper .is-root-container .gform_fields .gfield--width-full {
  grid-column: 1/-1;
}
.editor-styles-wrapper .is-root-container .gform_fields .gfield--width-half {
  grid-column: span 3;
}
.editor-styles-wrapper .is-root-container .gform_fields .gfield--width-third {
  grid-column: span 2;
}
.editor-styles-wrapper .is-root-container .gform_fields hr {
  border: 0;
  margin: 0;
  border-top: solid 1px var(--color-gray);
  opacity: 0.2;
}
.editor-styles-wrapper .is-root-container .gform_description {
  display: block;
  margin-bottom: var(--field-spacing);
}
.editor-styles-wrapper .is-root-container .gform_required_legend {
  display: none;
}
.editor-styles-wrapper .is-root-container label {
  font-size: var(--font-size-h5);
  font-family: var(--font-family-headings);
  color: var(--color-black);
}
.editor-styles-wrapper .is-root-container .gfield.gform_hidden {
  display: none;
}
.editor-styles-wrapper .is-root-container .gchoice {
  margin-bottom: 0.5em;
  position: relative;
}
.editor-styles-wrapper .is-root-container .gchoice label {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
  font-size: var(--small-text);
  font-family: var(--font-family-base);
  position: relative;
}
.editor-styles-wrapper .is-root-container .gchoice label::before {
  content: "";
  width: 30px;
  aspect-ratio: 1;
  background: var(--field-color, var(--color-white));
}
.editor-styles-wrapper .is-root-container .gchoice .gfield-choice-input {
  position: absolute;
  width: 30px;
  aspect-ratio: 1;
  opacity: 0;
  left: 0;
}
.editor-styles-wrapper .is-root-container .ginput_container_consent label {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
  font-size: var(--small-text);
  font-family: var(--font-family-base);
  position: relative;
}
.editor-styles-wrapper .is-root-container .ginput_container_consent label::before {
  content: "";
  width: 30px;
  aspect-ratio: 1;
  background: var(--field-color, var(--color-white));
}
.editor-styles-wrapper .is-root-container .ginput_container_consent label::before {
  background-repeat: no-repeat;
  background-size: 50% auto;
  background-position: center center;
}
.editor-styles-wrapper .is-root-container .ginput_container_consent [type=checkbox] {
  position: absolute;
  width: 30px;
  aspect-ratio: 1;
  opacity: 0;
  left: 0;
}
.editor-styles-wrapper .is-root-container .ginput_container_consent [type=checkbox]:checked + label::before {
  background-image: url("../assets/images/checkbox-check.svg");
}
.editor-styles-wrapper .is-root-container .ginput_container_checkbox .gfield-choice-input:focus-visible + label::before {
  outline-color: var(--color-black);
  outline-style: solid;
  outline-width: 2px;
}
.editor-styles-wrapper .is-root-container .ginput_container_checkbox .gfield-choice-input:checked + label::before {
  background-image: url("../assets/images/checkbox-check.svg");
}
.editor-styles-wrapper .is-root-container .ginput_container_checkbox label::before {
  background-repeat: no-repeat;
  background-size: 50% auto;
  background-position: center center;
}
.editor-styles-wrapper .is-root-container .ginput_container_radio .gfield-choice-input:checked + label::after {
  background: var(--color-black);
}
.editor-styles-wrapper .is-root-container .ginput_container_radio label::before {
  border-radius: 50%;
}
.editor-styles-wrapper .is-root-container .ginput_container_radio label::after {
  content: "";
  position: absolute;
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  top: 15px;
  left: 15px;
  transform: translate(-50%, -50%);
}
.editor-styles-wrapper .is-root-container .ginput_complex,
.editor-styles-wrapper .is-root-container .ginput_complex .clear-multi {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}
.editor-styles-wrapper .is-root-container .ginput_complex > div,
.editor-styles-wrapper .is-root-container .ginput_complex > span,
.editor-styles-wrapper .is-root-container .ginput_complex .clear-multi > div,
.editor-styles-wrapper .is-root-container .ginput_complex .clear-multi > span {
  flex: 1;
}
.editor-styles-wrapper .is-root-container .ginput_complex > div.hour_minute_colon,
.editor-styles-wrapper .is-root-container .ginput_complex > span.hour_minute_colon,
.editor-styles-wrapper .is-root-container .ginput_complex .clear-multi > div.hour_minute_colon,
.editor-styles-wrapper .is-root-container .ginput_complex .clear-multi > span.hour_minute_colon {
  flex: 0;
  align-self: center;
}
.editor-styles-wrapper .is-root-container .ginput_complex.ginput_container_address,
.editor-styles-wrapper .is-root-container .ginput_complex .clear-multi.ginput_container_address {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.editor-styles-wrapper .is-root-container .ginput_list table {
  width: 100%;
}
.editor-styles-wrapper .is-root-container .ginput_list table td {
  padding-bottom: 5px;
}
.editor-styles-wrapper .is-root-container .gfield_list_icons {
  text-align: center;
}
.editor-styles-wrapper .is-root-container .gfield_description,
.editor-styles-wrapper .is-root-container .gform_fileupload_rules {
  font-size: var(--small-text);
}
.editor-styles-wrapper .is-root-container .gfield_consent_description {
  max-height: 7em;
  overflow: scroll;
  background: rgba(255, 255, 255, 0.3);
  padding: 1.5em;
  margin-top: 1em;
  font-size: 0.75rem;
}
.editor-styles-wrapper .is-root-container .gform_footer {
  margin-top: var(--gap);
}
.editor-styles-wrapper .is-root-container .gfield_required {
  color: var(--color-red);
}
.editor-styles-wrapper .is-root-container .gf_clear_complex,
.editor-styles-wrapper .is-root-container .gform_submission_error {
  display: none;
}
.editor-styles-wrapper .is-root-container .validation_message {
  color: var(--color-error);
  padding-top: 0.5em;
  font-size: var(--small-text);
}
.editor-styles-wrapper .is-root-container .gform_confirmation_message {
  color: var(--color-success);
}
.editor-styles-wrapper .is-root-container .gform_wrapper .gform_ajax_spinner {
  width: auto;
}
@font-face {
  font-family: "gform-icons-theme";
  src: url("../assets/fonts/gform-icons-theme.woff2?a2cayk") format("woff2"), url("../assets/fonts/gform-icons-theme.ttf?a2cayk") format("truetype"), url("../assets/fonts/gform-icons-theme.woff?a2cayk") format("woff"), url("../assets/fonts/gform-icons-theme.svg?a2cayk#gform-icons-theme") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.editor-styles-wrapper .is-root-container .gform_validation_container,
.editor-styles-wrapper .is-root-container body .gform_wrapper .gform_validation_container,
.editor-styles-wrapper .is-root-container body .gform_wrapper .gform_body .gform_fields .gfield.gform_validation_container,
.editor-styles-wrapper .is-root-container body .gform_wrapper .gform_fields .gfield.gform_validation_container {
  display: none !important;
  left: -9000px;
  position: absolute !important;
}
.editor-styles-wrapper .is-root-container .gform_wrapper .screen-reader-text,
.editor-styles-wrapper .is-root-container .gform_wrapper .hidden_label .gfield_label,
.editor-styles-wrapper .is-root-container .gform_wrapper .hidden_sub_label {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.editor-styles-wrapper .is-root-container .gform_wrapper button.screen-reader-text:focus {
  border: 0;
  clip: auto;
  clip-path: none;
  height: auto;
  margin: 0;
  position: static !important;
  width: auto;
}
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) {
  background: #fff;
  border: 1px solid #d0d1d3;
  border-radius: 3px;
  box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.11), 0 0 0.25rem rgba(18, 25, 97, 0.0405344);
  color: #607382;
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 5px;
  padding: 18px 15px;
  width: auto;
}
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) table,
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) thead,
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) tr,
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) td,
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) th {
  background: none;
  border: 0;
  margin: 0;
}
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) td,
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) th {
  padding: 5px;
  text-shadow: none;
  text-transform: none;
}
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-header {
  border: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 5px;
  padding: 0;
  position: relative;
  width: 100%;
}
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-header .ui-datepicker-prev,
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-header .ui-datepicker-next {
  align-items: center;
  background: none;
  border: 0;
  color: #607382;
  cursor: pointer;
  display: flex;
  font-family: gform-icons-theme !important;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 30px;
  justify-content: center;
  line-height: 1;
  position: absolute;
  speak: never;
  text-decoration: none;
  top: -2px;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out, border-color 300ms ease-in-out;
  width: 30px;
}
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-header .ui-datepicker-prev:focus,
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-header .ui-datepicker-prev:hover,
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-header .ui-datepicker-next:focus,
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-header .ui-datepicker-next:hover {
  color: #2f4054;
}
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-header .ui-datepicker-prev .ui-icon,
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-header .ui-datepicker-next .ui-icon {
  display: none;
}
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-header .ui-datepicker-prev::before,
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-header .ui-datepicker-next::before {
  border: 0;
  height: auto;
  position: static;
  transform: none;
  width: auto;
}
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-header .ui-datepicker-prev {
  left: 0;
}
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-header .ui-datepicker-prev::before {
  content: "\e910";
}
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-header .ui-datepicker-next {
  right: 0;
}
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-header .ui-datepicker-next::before {
  content: "\e91b";
}
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-header select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: transparent;
  background-image: url(../../../images/theme/down-arrow.svg);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: #585e6a;
  cursor: pointer;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  height: auto;
  min-height: 0;
  padding: 0 22px 0 0;
  width: auto;
}
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-header select.ui-datepicker-month {
  margin-right: 20px;
  -moz-text-align-last: right;
  text-align-last: right;
}
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-calendar span,
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-calendar a {
  font-weight: 400;
}
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-calendar th span {
  align-items: center;
  color: #2f4054;
  display: flex;
  font-size: 1.3rem;
  font-weight: 500;
  height: 40px;
  justify-content: center;
  width: 40px;
}
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-calendar td {
  font-size: 1.3rem;
  height: 50px;
  width: 50px;
}
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-calendar .ui-state-default {
  align-items: center;
  background: none;
  border: 1px solid transparent;
  border-radius: 100%;
  box-shadow: none;
  color: #2f4054;
  display: flex;
  height: 40px;
  justify-content: center;
  text-decoration: none;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out, border-color 300ms ease-in-out;
  width: 40px;
}
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-calendar .ui-state-default:hover,
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-calendar .ui-state-default:focus {
  background: none;
  border-color: #607382;
  outline: none;
}
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-calendar .ui-state-default:active {
  background: #f2f3f5;
  border-color: #607382;
}
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-calendar .ui-datepicker-current-day .ui-state-default {
  background: #607382;
  border-color: #607382;
  box-shadow: 0 2px 2px rgba(58, 58, 87, 0.0596411);
  color: #fff;
}
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-calendar .ui-datepicker-current-day .ui-state-default:hover,
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-calendar .ui-datepicker-current-day .ui-state-default:focus {
  border-color: #607382;
}
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-calendar .ui-state-disabled {
  background: none;
}
.editor-styles-wrapper .is-root-container .gform-theme-datepicker:not(.gform-legacy-datepicker) .ui-datepicker-calendar .ui-state-disabled .ui-state-default {
  align-items: center;
  background: #f2f3f5;
  border: 1px solid rgba(32, 32, 46, 0.079);
  border-radius: 100%;
  box-shadow: 0 2px 2px rgba(58, 58, 87, 0.0596411);
  color: #686e77;
  cursor: text;
  display: flex;
  height: 40px;
  justify-content: center;
  text-decoration: none;
  width: 40px;
}
.editor-styles-wrapper .is-root-container html[dir=rtl] #ui-datepicker-div.gform-theme-datepicker[style] {
  right: auto !important;
}
.editor-styles-wrapper .is-root-container .gform_drop_area {
  background: rgba(0, 0, 0, 0.02);
  border: 1px dashed #ccc;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 32px;
  text-align: center;
}
.editor-styles-wrapper .is-root-container .gform_drop_area::before {
  content: url("/wp-content/themes/flockfreight/images/dragandrop.svg");
  display: block;
  margin: 0 0 10px;
}
.editor-styles-wrapper .is-root-container .gform_drop_area .button {
  color: var(--color-button-text);
  display: inline-block;
  font-size: var(--font-size-buttons);
  font-weight: 500;
  line-height: 1;
  padding: 1em 1.39em;
  transition: all var(--transitions);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
}
@media (hover: hover) {
  .editor-styles-wrapper .is-root-container .gform_drop_area .button:hover {
    text-decoration: none;
    color: var(--color-hover-button-text);
    background-color: var(--color-hover-button-bg);
  }
}
.editor-styles-wrapper .is-root-container .gform_drop_area .button:not(:disabled) {
  cursor: pointer;
}
.editor-styles-wrapper .is-root-container .gform_drop_area .button:disabled {
  opacity: 0.5;
}
.editor-styles-wrapper .is-root-container .gform_drop_instructions {
  display: block;
  margin-bottom: 8px;
}
.editor-styles-wrapper .is-root-container .gform_delete,
.editor-styles-wrapper .is-root-container .gform_delete_file {
  cursor: pointer;
  vertical-align: middle;
}
.editor-styles-wrapper .is-root-container .gform_delete_file {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
}
.editor-styles-wrapper .is-root-container .gfield_validation_message ul {
  margin: 16px 0;
  padding-left: 24px;
}
.editor-styles-wrapper .is-root-container .gfield_validation_message ul:empty {
  display: none;
}
.editor-styles-wrapper .is-root-container .ginput_preview {
  margin: 16px 0;
}
.editor-styles-wrapper .is-root-container .gform_fileupload_rules {
  display: block;
  margin-top: 8px;
}
.editor-styles-wrapper .is-root-container h1,
.editor-styles-wrapper .is-root-container h2,
.editor-styles-wrapper .is-root-container h3,
.editor-styles-wrapper .is-root-container h4,
.editor-styles-wrapper .is-root-container h5,
.editor-styles-wrapper .is-root-container h6 {
  font-family: var(--font-family-headings);
  font-style: normal;
  font-weight: 400;
}
.editor-styles-wrapper .is-root-container h1 {
  font-size: var(--font-size-h1);
}
.editor-styles-wrapper .is-root-container h2 {
  font-size: var(--font-size-h2);
}
.editor-styles-wrapper .is-root-container h3 {
  font-size: var(--font-size-h3);
}
.editor-styles-wrapper .is-root-container h4 {
  font-size: var(--font-size-h4);
}
.editor-styles-wrapper .is-root-container h5 {
  font-size: var(--font-size-h5);
}
.editor-styles-wrapper .is-root-container h6 {
  font-size: var(--font-size-h6);
}
.editor-styles-wrapper .is-root-container table {
  width: 100%;
  border-collapse: collapse;
}
.editor-styles-wrapper .is-root-container table th, .editor-styles-wrapper .is-root-container table td {
  border-bottom: solid 1px var(--color-borders);
  text-align: left;
  padding-block: 1.4em;
}
@media (max-width: 991px) {
  .editor-styles-wrapper .is-root-container table {
    font-size: 0.75rem;
  }
  .editor-styles-wrapper .is-root-container table th, .editor-styles-wrapper .is-root-container table td {
    padding-inline: 0.5em;
  }
}
.editor-styles-wrapper .is-root-container figure.aligncenter {
  display: flex;
  justify-content: center;
}
.editor-styles-wrapper .is-root-container figure.alignright {
  display: flex;
  justify-content: flex-end;
}
.editor-styles-wrapper .is-root-container .has-text-align-left {
  text-align: left;
}
.editor-styles-wrapper .is-root-container .has-text-align-center {
  text-align: center;
}
.editor-styles-wrapper .is-root-container .has-text-align-center::before, .editor-styles-wrapper .is-root-container .has-text-align-center::after {
  margin-inline: auto;
}
.editor-styles-wrapper .is-root-container .has-text-align-right {
  text-align: center;
}
.editor-styles-wrapper .is-root-container .is-content-justification-left {
  justify-content: flex-start;
}
.editor-styles-wrapper .is-root-container .is-content-justification-center {
  justify-content: center;
}
.editor-styles-wrapper .is-root-container .is-content-justification-right {
  justify-content: flex-end;
}
.editor-styles-wrapper .is-root-container .is-content-justification-space-between {
  justify-content: space-between;
}
.editor-styles-wrapper .is-root-container .align-self-end {
  align-self: flex-end;
}
@media (max-width: 575px) {
  .editor-styles-wrapper .is-root-container .hidden-xs {
    display: none;
  }
}
.editor-styles-wrapper .is-root-container .media-item {
  position: relative;
}
.editor-styles-wrapper .is-root-container > .block-library-block__reusable-block-container,
.editor-styles-wrapper .is-root-container > [class*=wp-block-bespoke] {
  max-width: 100% !important;
}
.editor-styles-wrapper .is-root-container > .block-library-block__reusable-block-container *,
.editor-styles-wrapper .is-root-container > [class*=wp-block-bespoke] * {
  box-sizing: border-box;
}
.editor-styles-wrapper .is-root-container .wp-block-group {
  padding-block: var(--spacing-7);
  padding-inline: 15px;
  max-width: 100% !important;
}
.editor-styles-wrapper .is-root-container .wp-block-group > * {
  max-width: var(--wide-max-width);
  margin-inline: auto;
}
.editor-styles-wrapper .is-root-container > .alignfull {
  max-width: var(--full-max-width) !important;
  margin-inline: auto;
}
.editor-styles-wrapper .is-root-container a {
  color: currentColor;
  pointer-events: none;
}
.editor-styles-wrapper .is-root-container img {
  max-width: 100%;
}
.editor-styles-wrapper .is-root-container .button-remove {
  z-index: 2;
  position: absolute;
  top: 20px;
  left: 20px;
}
.editor-styles-wrapper .is-root-container .validation-error {
  padding: 0 12px;
  border-left: solid 2px red;
  background: hsl(0, 100%, 95%);
  color: red;
  margin: 0 12px 12px 0;
  display: flex;
  align-items: center;
}
.editor-styles-wrapper .is-root-container .block-editor-url-input__button {
  position: relative;
}
.editor-styles-wrapper .is-root-container .block-editor-url-input__button-modal {
  position: absolute;
  z-index: 2;
}
.editor-styles-wrapper .is-root-container .has-blue-2-background-color .block-editor-button-block-appender,
.editor-styles-wrapper .is-root-container .has-blue-background-color .block-editor-button-block-appender,
.editor-styles-wrapper .is-root-container .has-red-background-color .block-editor-button-block-appender {
  color: white;
  box-shadow: inset 0 0 0 1px white;
}
.editor-styles-wrapper .is-root-container .admin-field {
  display: flex;
  align-items: baseline;
  gap: 1ch;
}
.editor-styles-wrapper .is-root-container .admin-field .label {
  opacity: 0.5;
  font-size: 0.8em;
}
.editor-styles-wrapper .is-root-container .block-editor-media-placeholder .components-placeholder__fieldset {
  gap: 12px;
}
.editor-styles-wrapper .is-root-container .block-editor-media-placeholder .components-placeholder__fieldset .components-button {
  margin: 0;
}
.editor-styles-wrapper .is-root-container .block-editor-media-placeholder .instructions {
  padding: 6px;
  background: #FFF8E1;
  display: inline-flex;
  align-items: center;
}
.editor-styles-wrapper .is-root-container .block-editor-media-placeholder .error {
  padding: 6px;
  background: #FFE1E1;
  display: inline-flex;
  align-items: center;
}

.admin-message {
  padding: var(--spacing-6);
  background: #eee;
  text-align: center;
  color: #000;
}
